.circular--square {
  border-radius: 50%;
  border: 1px solid #395c64;
  margin: 0 auto;
}

.circular--landscape {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #395c64
}

.circular--landscape img {
  width: auto;
  height: 100%;
  margin-left: -50px;
}

.circular--portrait {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #395c64;
  margin: 0 auto;
}

.circular--portrait img {
  width: 100%;
  height: auto;
}

.eq {  
  text-align: center;
  display: block;
  margin-bottom: 13px;
  clear:both;
  color: $red;
}

.eq.eq-no { float:right }

span.eq-no {
  float: right;
}
.eq.eq-expression { float:left }
span.eq-expression { float:center }
