.circular--square {
  border-radius: 50%;
  border: 1px solid #395c64;
  margin: 0 auto;
}

.circular--landscape {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #395c64
}

.circular--landscape img {
  width: auto;
  height: 100%;
  margin-left: -50px;
}

.circular--portrait {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #395c64;
  margin: 0 auto;
}

.circular--portrait img {
  width: 100%;
  height: auto;
}

.eq {  
  text-align: center;
  display: block;
  margin-bottom: 13px;
  clear:both;
  color: $red;
}

.eq.eq-no { float:right }

span.eq-no {
  float: right;
}
.eq.eq-expression { float:left }
span.eq-expression { float:center }


div.profile-pic {
  position: relative;
}

/* Dotted red border */
hr.line-dotted {
  border-top: 1px dotted $red;
}

.remove-auto-capital{
  text-transform: none !important;
}

.related-article-item{
  font-size: 16px; font-style: italic;

}

.related-posting-item-spacing{
  
  margin: 1px 0;
  height: 20px;
}

img.right {
  float: right;
  margin-right: 20px;
  margin-left: 10px;
}

img.left {
  float: left;
  margin-left: 20px;
  margin-right: 10px;
}

img.center {
  margin: 0 auto;
}

/*Page title of post*/
.post-title, .post-title a {
  /*color: $red !important;*/
  color: #cb7273 !important;
}

#sidebar .site-title a {
  color: #c3b0a2 !important;
}

